.xx-small svg {
  font-size: xx-small;
}

.x-small svg {
  font-size: x-small;
}

.smaller svg {
  font-size: smaller;
}

.small svg {
  font-size: small;
}

.medium svg {
  font-size: medium;
}

.large svg {
  font-size: large;
}

.larger svg {
  font-size: larger;
}

.x-larger svg {
  font-size: x-large;
}

.xx-larger svg {
  font-size: xx-large;
}
