.xx-small {
  font-size: 0.5rem;
}

.x-small {
  font-size: 0.875rem;
}

.smaller {
  font-size: 1rem;
}

.small {
  font-size: 1.25rem;
}

.medium {
  font-size: 1.5rem;
}

.large {
  font-size: 1.5rem;
}

.larger {
  font-size: 2.125rem;
}

.x-large {
  font-size: 3.75rem;
}

.xx-large {
  font-size: 6rem;
}
